@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,500&family=Poppins:wght@100;200;300&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Poppins";
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://github.com/Kamleshmehta1/typing-test-project/blob/main/Blessing-Gradient-4K-Wallpaper-7037.jpg?raw=true");
}

h1 {
    text-align: center;
    color: #781C68;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);

    border: 2px solid gold;
    width: auto;
    border-radius: 20px;
    height: auto;
}

span {
    color: #000;
}

input[type=text] {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputbox {
    padding: 20px 50px;
}

.content {
    text-align: left;
    padding: 50px;
    margin: 0 5%;
    font-size: 20px;
    font-weight: 400;
    background-color: #FFF89A;
    border-radius: 20px;
}

.result {
    display: flex;
    border: 2px solid gold;
    border-radius: 20px;
    margin: 20px;
}



.green {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
}

.red {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}

.timer {
    flex: auto;
    height: 100px;
    width: 100px;
    background-color: purple;
    border-radius: 20px;
    margin: 20px;
}

.timerValue {
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.mistakeValue {
    padding: 20px;
    color: white;
    text-align: center
}

.timerheading {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.mistakesheading {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.mistakes {
    flex: auto;
    height: 100px;
    width: 100px;
    background-color: purple;
    border-radius: 20px;
    margin: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.btn1 {
    border-radius: 20px;
    background-color:red;
    padding: 20px;
    cursor: pointer;
    color: white;
    border: none;
}

